body {
    height: 100vh;
}
.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #3D1144;
}

#start-btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-top: 0;
    font-size: medium;
    color: white;
    background-color: #CE125C;
    box-shadow: 3px 3px 0px 0px black;
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
  }

figure {
    margin: 0;
}

#logo{
    width: 180px
}

#logo-name {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: xxx-large;
    color: white;
}


.categories-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #FCE0DF;
  }
  
  #pick-category {
    color: #3D1144;
  }
  
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    overflow: scroll;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: center;
    border-radius: 25px !important;
    overflow: hidden;
    border: none !important;
    background-color: #3D1144 !important;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    background-color: #3D1144 !important;
  }
  
  
  .btn-style {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 12rem;
    height: 50px;
    margin: 0 !important;
    border: none;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: #3D1144 !important;
  }
  
  .card-img-top {
    width: 200px;
    height: auto;
  }
  

  .quiz-page {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #3D1144;
}

.info {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
}

.logo-restart {
    margin-left: 60px;
}

.logo{
margin-bottom: 30px;
}

.score-wrapper{
    color: white;
    margin-right:60px;
}

#score {
    margin: 0;
}

#high-score {
    margin: 0;
}

img {
    width: 50px;
    height: auto;
}

.category-title {
    color: #FCE0DF;
    font-size: 45px;
    margin-bottom: 30px;
}

.options {
    width: 600px;
}

.btn{
    background-color: #CE125C;
    border-radius: 25px;
    border: none;
    height: 60px;
    margin-bottom: 15px;
}


.final-page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #142455;
}

.final-text-wrapper {
    color: white;
    background-color: rgb(255,255,255,0.25);
    width: 500px;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#final-text{
    margin-bottom:0;
}

#final-score {
    margin-top: 0;
}

#restart {
    margin-top: 25px;
    width: 50px;
}
.quiz-page.transition {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */
