body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #142455;
}

.final-text-wrapper {
    color: white;
    background-color: rgb(255,255,255,0.25);
    width: 500px;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#final-text{
    margin-bottom:0;
}

#final-score {
    margin-top: 0;
}

#restart {
    margin-top: 25px;
    width: 50px;
}